
.bulk-add {
    .bulk-add-view {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.7);

        textarea {
            width: 600px;
            height: 400px;
            opacity: 0.8;
        }
    }
}