<!doctype html>

<html lang="pl" ng-app="walletApp">
<head>
    <meta charset="utf-8">
    <title>wallet</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="style.css">

    <script src="scripts/angular.min.js"></script>

    <script src="scripts/walletApp.js"></script>
    
    <script src="scripts/controllers/walletController.js"></script>
</head>

<body ng-controller="WalletController">

<h3>Twoje adresy:</h3>
<ul>
    <li ng-repeat=" row in wallet ">
        {{ row.address }}
    </li>
</ul>

<input type="text" ng-model="address" placeholder="address / privkey" />
<input type="button" ng-click="addAddress()" value="+" />

</body>
</html>