<!doctype html>

<html lang="pl" ng-app="walletApp">
<head>
    <meta charset="utf-8">
    <title>wallet</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="css/style.css">

    <script src="scripts/angular.min.js"></script>

    <script src="scripts/walletApp.js"></script>
    
    <script src="scripts/controllers/walletController.js"></script>
</head>

<body ng-controller="WalletController">

<h3>Twoje adresy:</h3>

<input type="button" ng-click="checkBalances()" value="&#8634;" />

<ul class="wallet-list">
    <li ng-repeat=" row in wallet ">
        {{ row.address }}
        <span ng-if="!!row.balance">
            - {{ row.balance * 1e-8 }} BTC
        </span>
    </li>
</ul>

<input type="text" ng-model="address" placeholder="address / privkey" />
<input type="button" ng-click="addAddress()" value="+" />

<br/>Sum of all balances in wallet: {{ sumBalances() * 1e-8 }}

</body>
</html>