
<input type="button" ng-click=" adding = true " value="…" />

<div class="bulk-add-view" ng-show=" adding ">

    <div class="view-container">
        <div class="input-data">
            <textarea ng-model="inputText" placeholder="Put data here"></textarea>
        </div>

        <div class="founded-entries">
            <ul>
                <li ng-repeat=" entry in foundEntries ">{{ entry.address }}</li>
            </ul>
            <div class="buttons">
                <input type="button" value="cancel" ng-click=" cancel() " />
                <input type="button" value="add addresses" ng-click=" add() " />
            </div>
        </div>
    </div>

    <span class="close-button" ng-click=" adding = false " title="close dialog">
        <i class="fa fa-times"></i>
    </span>
</div>
